/* SASS Styles for Trippmatch Holding Page */

// Colors
$body-font: #4A4A4A;
$navy-bg: #233552;
$page-bg: #EEF4F7;
$orange: #FF6A39;

@import 'reset';

html{
    font-size:10px;
    font-size:62.5%;
}

body{
    font-family: 'Montserrat', sans-serif; 
    background: $page-bg;
    color:$body-font;
    font-size:1.4rem;
    line-height:180%;
    min-width:320px;
}

*{
    box-sizing:border-box;
}

h1{
    font-size:1.8rem;
    font-weight:bold;
}

h2{
    font-size:1.8rem;
    font-weight:500;
}

p{
    line-height:150%;
}

a{
    
    color:$body-font;
    font-weight:bold;
    text-decoration:none;
    transition: border-bottom 150ms;
    
    &:hover{
       border-bottom: 1px solid $body-font;
    }
    
}

.container{
    width:90%;
    max-width: 1024px;
    min-width: 300px;
    height:100%;
    margin: 0 auto;
    position:relative;
}

header{
    
    width:100%;
    height:80px;
    background:$navy-bg;
    
    .container{
        padding: 25px; 
    }
    
    a.logo{
        text-decoration: none;
        &:hover{border:none;}
    }
    
}

.hero-wrap{
    
    width:100%;
    min-height: 587px;
    height: 80vh;
    background:url('../img/hero_1.jpg') center center no-repeat #FFF;
    background-size:cover;
    position:relative;
    padding-top:24px;
    
    .signup-wrap{
        
        width: 90%;
        min-width:300px;
        max-width: 348px; 
        background: white;
        padding: 24px;
        margin: 0 auto;
        
        
        // Mailchimp Form
        #mc_embed_signup{
            
            margin: 16px 0;
            
            .mc-field-group{
                
                label{
                    display:none;
                }
            
                input{
                    
                    border:0;
                    border-radius:0;
                    -webkit-appearance: none;
                    outline:none;
                    border-bottom: 1px solid #979797;
                    height:30px;
                    padding:0 16px 0 38px;
                    line-height:30px;
                    width:100%;
                    display:block;
                    margin-bottom: 10px;
                    font-family: 'Montserrat', sans-serif; 
                    font-size:1.4rem;
                    
                    &:focus{
                        border-bottom:1px solid #00DD7E;
                    }
                    
                    &.email{
                        background:url('../img/email.png') left center no-repeat;
                        background-size:30px 30px;
                    }
                    
                    &.fname{
                        background:url('../img/name.png') left center no-repeat;
                        background-size:30px 30px;
                    }
                    
                }
            
            }
            
            .button{
                
                border:0;
                padding: 0 16px;
                height:30px;
                font-size:1.4rem;
                line-height:30px;
                background:$orange;
                font-weight:bold;
                color:white;
                cursor:pointer;
                transition: box-shadow 250ms ease;
                margin-top:10px;
                border-radius:0;
                -webkit-appearance: none;
                
                &:hover{
                    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
                }
                
            }

        }
        
    }
    
    .caption{
        
        position: absolute;
        font-weight:bold;
        text-align:right;
        right:24px;
        bottom:24px;
        width:176px;
        color:white;
        z-index:999;
        
    }
    
    &:after{
        content:'';
        display:block;
        width:100%;
        height:60px;
        position:absolute;
        top:auto;
        right:0;
        bottom:0;
        left:0;
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); 
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    }
    
}

.strap{
    
    padding: 56px 10px;
    text-align:center;
    
    h2{
        max-width:600px;
        margin: 0 auto;
    }
    
}

.map-wrap{
    
    background:url('../img/mobile_map.svg') center center no-repeat #3F5D80;
    background-size:cover;
    height:250px;
    
}

.community-wrap{
    
    padding: 56px 10px;
    text-align:center;
    
    ul{
        
        list-style:none;
        margin-bottom:16px;
        
        li{
            display:inline-block;
            margin-right: 16px;
            border-radius: 100%;
            
            img{
                width:40px;
                height:40px;
            }
            
        }
        
    }
    
    p{
        max-width:600px;
        margin: 0 auto;
        font-size:1.8rem;
        font-weight:bold;
    }
    
}

footer{
    
    background: $navy-bg;
    min-height: 60px;
    
    
    .left-wrap{
        
        padding: 16px 0 0;
        width:100%;
        
        img{
            display: inline-block;
            margin-right:32px;
        }
        
        .social-wrap{
            
            display:inline;
            float:right;
                        
            a{
                
                border:0;
                margin-right:8px;
                
                            
                svg{
                    fill:white;
                    height:30px;
                    width:auto;
                }
                
                &:hover svg{
                    fill:$orange;
                }

            }

            
        }
    
    }
    
    
    .right-wrap{
        
        font-size:1.2rem;
        color:$page-bg;
        text-align:center;
        padding: 16px 0;
        clear:both;
        
        a{
            color:$page-bg;
            margin-right:16px;
            
            &:hover{
                border-bottom: 1px solid $page-bg;
            }
        }
        
    }
    
}

// Terms + Privacy pages
.terms{
    
    h2{margin: 24px 0;}
    p{margin:8px 0;}
    
    ol{
        list-style:decimal;
        
        li{margin-left:16px;;}
    }
    
}

// Phablet
@media only screen and (min-width:576px){
    
    .hero-wrap{
        
        .signup-wrap{
            margin: 0 0 88px 0;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: sticky;
            top: 24px;
            z-index: 999;
        }
        
    }
    
    .map-wrap{
        
        background:url('../img/desktop_map.svg') center center no-repeat #3F5D80;
        height:567px;
        background-size: 849px 500px;
        transition:background-size 800ms ease;
        -webkit-transition:background-size 800ms ease;
        -moz-transition:background-size 800ms ease;
        
        &:hover{
            background-size: 891px 525px;
        }
        
    }
    
    footer .left-wrap .social-wrap a{margin-right:16px;}
    
}

/// 960px +
@media only screen and (min-width:960px){
    
    .hero-wrap{
        
        .signup-wrap{
            margin-bottom:24px;
        }
        
    }
    
     footer{
        
        height:62px;
        
        .container{
            display: flex;
            flex-flow: row nowrap;
            height:30px;
        }
        
        .left-wrap,
        .right-wrap{
            width:50%;
            padding: 16px 0;
        }
        
        .left-wrap{
             
            .social-wrap{float:none;}
             
        }
        
        .right-wrap{
            
            line-height:30px;
            p{display:inline;}
            
        }

        
    }
    
}