/* SASS Styles for Trippmatch Holding Page */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #EEF4F7;
  color: #4A4A4A;
  font-size: 1.4rem;
  line-height: 180%;
  min-width: 320px; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 1.8rem;
  font-weight: bold; }

h2 {
  font-size: 1.8rem;
  font-weight: 500; }

p {
  line-height: 150%; }

a {
  color: #4A4A4A;
  font-weight: bold;
  text-decoration: none;
  transition: border-bottom 150ms; }
  a:hover {
    border-bottom: 1px solid #4A4A4A; }

.container {
  width: 90%;
  max-width: 1024px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

header {
  width: 100%;
  height: 80px;
  background: #233552; }
  header .container {
    padding: 25px; }
  header a.logo {
    text-decoration: none; }
    header a.logo:hover {
      border: none; }

.hero-wrap {
  width: 100%;
  min-height: 587px;
  height: 80vh;
  background: url("../img/hero_1.jpg") center center no-repeat #FFF;
  background-size: cover;
  position: relative;
  padding-top: 24px; }
  .hero-wrap .signup-wrap {
    width: 90%;
    min-width: 300px;
    max-width: 348px;
    background: white;
    padding: 24px;
    margin: 0 auto; }
    .hero-wrap .signup-wrap #mc_embed_signup {
      margin: 16px 0; }
      .hero-wrap .signup-wrap #mc_embed_signup .mc-field-group label {
        display: none; }
      .hero-wrap .signup-wrap #mc_embed_signup .mc-field-group input {
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        outline: none;
        border-bottom: 1px solid #979797;
        height: 30px;
        padding: 0 16px 0 38px;
        line-height: 30px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem; }
        .hero-wrap .signup-wrap #mc_embed_signup .mc-field-group input:focus {
          border-bottom: 1px solid #00DD7E; }
        .hero-wrap .signup-wrap #mc_embed_signup .mc-field-group input.email {
          background: url("../img/email.png") left center no-repeat;
          background-size: 30px 30px; }
        .hero-wrap .signup-wrap #mc_embed_signup .mc-field-group input.fname {
          background: url("../img/name.png") left center no-repeat;
          background-size: 30px 30px; }
      .hero-wrap .signup-wrap #mc_embed_signup .button {
        border: 0;
        padding: 0 16px;
        height: 30px;
        font-size: 1.4rem;
        line-height: 30px;
        background: #FF6A39;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: box-shadow 250ms ease;
        margin-top: 10px;
        border-radius: 0;
        -webkit-appearance: none; }
        .hero-wrap .signup-wrap #mc_embed_signup .button:hover {
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
  .hero-wrap .caption {
    position: absolute;
    font-weight: bold;
    text-align: right;
    right: 24px;
    bottom: 24px;
    width: 176px;
    color: white;
    z-index: 999; }
  .hero-wrap:after {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); }

.strap {
  padding: 56px 10px;
  text-align: center; }
  .strap h2 {
    max-width: 600px;
    margin: 0 auto; }

.map-wrap {
  background: url("../img/mobile_map.svg") center center no-repeat #3F5D80;
  background-size: cover;
  height: 250px; }

.community-wrap {
  padding: 56px 10px;
  text-align: center; }
  .community-wrap ul {
    list-style: none;
    margin-bottom: 16px; }
    .community-wrap ul li {
      display: inline-block;
      margin-right: 16px;
      border-radius: 100%; }
      .community-wrap ul li img {
        width: 40px;
        height: 40px; }
  .community-wrap p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: bold; }

footer {
  background: #233552;
  min-height: 60px; }
  footer .left-wrap {
    padding: 16px 0 0;
    width: 100%; }
    footer .left-wrap img {
      display: inline-block;
      margin-right: 32px; }
    footer .left-wrap .social-wrap {
      display: inline;
      float: right; }
      footer .left-wrap .social-wrap a {
        border: 0;
        margin-right: 8px; }
        footer .left-wrap .social-wrap a svg {
          fill: white;
          height: 30px;
          width: auto; }
        footer .left-wrap .social-wrap a:hover svg {
          fill: #FF6A39; }
  footer .right-wrap {
    font-size: 1.2rem;
    color: #EEF4F7;
    text-align: center;
    padding: 16px 0;
    clear: both; }
    footer .right-wrap a {
      color: #EEF4F7;
      margin-right: 16px; }
      footer .right-wrap a:hover {
        border-bottom: 1px solid #EEF4F7; }

.terms h2 {
  margin: 24px 0; }
.terms p {
  margin: 8px 0; }
.terms ol {
  list-style: decimal; }
  .terms ol li {
    margin-left: 16px; }

@media only screen and (min-width: 576px) {
  .hero-wrap .signup-wrap {
    margin: 0 0 88px 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 24px;
    z-index: 999; }

  .map-wrap {
    background: url("../img/desktop_map.svg") center center no-repeat #3F5D80;
    height: 567px;
    background-size: 849px 500px;
    transition: background-size 800ms ease;
    -webkit-transition: background-size 800ms ease;
    -moz-transition: background-size 800ms ease; }
    .map-wrap:hover {
      background-size: 891px 525px; }

  footer .left-wrap .social-wrap a {
    margin-right: 16px; } }
@media only screen and (min-width: 960px) {
  .hero-wrap .signup-wrap {
    margin-bottom: 24px; }

  footer {
    height: 62px; }
    footer .container {
      display: flex;
      flex-flow: row nowrap;
      height: 30px; }
    footer .left-wrap,
    footer .right-wrap {
      width: 50%;
      padding: 16px 0; }
    footer .left-wrap .social-wrap {
      float: none; }
    footer .right-wrap {
      line-height: 30px; }
      footer .right-wrap p {
        display: inline; } }

/*# sourceMappingURL=styles.css.map */
